.article div{
    margin: 40px auto;
}

table{
    margin: 0 auto;
}
table td{
    padding: 5px;
    width: 100px;
    background-color: #969696;
}
.level td:first-child,.levelD td:first-child,.small td:first-child{
    border: 0;
    font-weight: normal;
    font-size: 16px;
}
table tr td:first-child{
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    font-weight: bold;
    border-right: 10px double #3ba3ba;
}
.level td{
    background-color: #3ba3ba;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.levelD td{
    border: 0;
    background-color: #3ba3ba;
    color: #fff;
}
.yes{
    background-color: aquamarine;
    height: 48px;
}

.small td{
    padding: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    width: 60px;
}
.small td:nth-child(2){
    background-color: aquamarine;
}
.small td:nth-child(4){
    background-color: #969696;
}