.article div{
    margin: 10px auto;
}

.realtime img{
    width: 100%;
    border: 3px solid #3ba3ba;
    box-sizing: border-box;
}

.Q{
    width: 800px;
    color: #969696;
    background-color: #f2f2f2;
    border-radius: 40px;
    border: 2px solid #969696;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 40px;
    cursor: pointer;
}
.Q:hover{
    color: #3ba3ba;
    border-color: #3ba3ba;
}
.on{
    color: #3ba3ba;
    border-color: #3ba3ba;
}
.A{
    margin: 10px 20px;
    padding: 10px 0;
    color: #3ba3ba;
    border-top: 3px dotted #3ba3ba;
    display: none;
}

@keyframes ani1{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
.ing{
    width: 800px;
    height: 400px;
    color: #969696;
    font-size: 30px;
    font-family: "TTTtangsbudaejjigaeB";
    background-color: #f2f2f2;
    border-radius: 40px;
    border: 2px solid #969696;
    box-sizing: border-box;
    position: relative;
}
.ing div:first-child{
    position: absolute;
    top: 182.5px;
    left: 310.9px;
    z-index: 1;
    text-shadow: -3px 0 5px #fff, 0 3px 5px #fff, 3px 0 5px #fff, 0 -3px 5px #fff;
}
.ing div:nth-child(2){
    width: 100px;
    position: absolute;
    top: 130px;
    left: 220px;
    animation: ani1 6s infinite linear;
}
.ing div:nth-child(3){
    width: 150px;
    position: absolute;
    top: 180px;
    left: 450px;
    animation: ani1 8s infinite reverse linear;
}
.ing div:last-child{
    width: 70px;
    position: absolute;
    top: 100px;
    left: 450px;
    animation: ani1 3s infinite linear;
}
.wheel img{
    width: 100%;
    opacity: 0.5;
}