.article div{
    margin: 40px auto;
}
.Info_Btn{
    overflow: hidden;
    margin: 0 auto;
    width: 560px;
}
.Info_Btn div{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #969696;
    padding: 6px 0;
    line-height: 15px;
    background-color: #f2f2f2;
    border: 1px solid #969696;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    margin: 0 20px;
}
.Info_Btn div:hover{
    background-color: #969696;
    color: #f2f2f2;
}

table{
    margin: 0 auto;
}
table td{
    padding: 10px;
}
.time2 td:first-child,.class td:first-child{
    border: 0;
}
table tr td:first-child{
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    font-weight: bold;
    border-right: 10px double #3ba3ba;
}
.class td{
    background-color: #3ba3ba;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}